@use "@/assets/styles/tokens" as *;

.refresher-write-comment {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .refresher-comment-util {
        opacity: 0;
        transition: opacity 0.2s $ease-out-expo;

        &.refresher-comment-util-show {
            opacity: 1;
        }

        &.refresher-comment-util-edit {
            color: black;
            cursor: pointer;
            margin-left: 15px;
            margin-top: -17px;
        }
    }

    .whoami {
        display: flex;

        & > span {
            letter-spacing: -1px;
            margin-bottom: 1px;
            margin-top: auto;
            opacity: 0.5;
        }
    }

    .refresher-user {
        background-color: initial !important;
        border-radius: initial !important;
        color: initial !important;
        margin-top: 10px;
    }

    .user {
        display: flex;

        input {
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 9px;
            font-size: 15px;
            margin-right: 5px;
            width: 150px;
        }
    }

    .refresher-comment-body {
        display: flex;
        margin-top: 30px;
    }

    & > .refresher-writecomment {
        margin: auto;
    }
}

html:has(#css-darkmode) {
    .refresher-write-comment {
        .refresher-comment-util {
            &.refresher-comment-util-edit {
                color: white;
            }
        }

        .user {
            input {
                background-color: #3b3b3b;
                border: 1px solid rgb(90, 90, 90);
            }
        }

        .refresher-input-wrap {
            &.disable {
                input {
                    color: rgb(63, 63, 63);
                }

                &::after {
                    background-color: rgb(38, 55, 73);
                }
            }

            textarea {
                border-bottom: 1px solid #fff;
                color: #fff;

                &:disabled {
                    border-bottom: 1px solid rgb(63, 63, 63);
                }
            }
        }
    }
}

.refresher-input-wrap {
    height: 45px;
    margin-right: 20px;
    min-width: 400px;
    position: relative;
    width: 80%;

    &.focus {
        &::after {
            width: calc(100% + 4px);
        }
    }

    &.disable {
        input {
            color: rgb(110, 110, 110);
        }

        &::after {
            background-color: rgb(38, 55, 73);
        }
    }

    &:has(textarea) {
        &::after {
            bottom: -6px;
        }
    }

    &:has(input) {
        &::after {
            bottom: -3px;
        }
    }

    &::after {
        background-color: var(--refresher-input-focus);
        content: " ";
        height: 2px;
        left: 0;
        position: absolute;
        transition: 0.3s all $ease-out-expo;
        width: 0;
        z-index: 10;
    }

    input,
    textarea {
        background: transparent;
        border: 0;
        border-bottom: 1px solid var(--refresher-input-border);
        color: var(--refresher-text);
        font-size: 14px;
        height: 100%;
        outline: none;
        transition: all 0.3s $ease-out-expo;
        width: 100%;
    }
}
