body {
    width: auto;
    max-width: none;
    max-height: none;
    overflow: auto;
    min-height: 100vh;
}

.refresher-app.refresher-options {
    max-width: 1200px;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
    border: 1px solid var(--refresher-border);
    border-top: 0;
}
