{
    "minify": true,
    "jsc": {
        "minify": {
            "compress": true,
            "mangle": true
        },
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": false,
            "dynamicImport": false
        },
        "target": "es2022"
    }
}