{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "minify": {
            "format": {
                "comments": false,
            }
        },
        "parser": {
            "syntax": "typescript"
        },
        "target": "es2022"
    },
    "minify": true
}
