@use "@/assets/styles/tokens" as *;

.refresher-bubble {
    background-color: #f9f9f9;
    border: 1px solid #d6d6d6;
    border-radius: $radius-md;
    display: flex;
    font-size: 14px;
    font-weight: normal;
    padding: 3px 16px;
    width: fit-content;

    .text {
        height: 14px;
        width: fit-content;

        &.image {
            height: unset;

            img {
                width: 80px;
            }
        }
    }

    .remove {
        background-color: #d6d6d6;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        font-weight: bold;
        height: 20px;

        justify-content: center;
        margin: auto auto auto 5px;

        text-align: center;

        transition: 0.25s all $ease-out-expo;

        width: 20px;

        &:hover {
            background-color: rgb(190, 190, 190);
        }

        &:active {
            background-color: rgb(155, 155, 155);
        }

        svg {
            margin: auto;
        }
    }
}
