$dark-background: #222;
$dark-tint-light: #292929;
$dark-tint-light: rgba(41, 41, 41, 1);
$dark-tint-light-opacity: rgba(41, 41, 41, 0.85);
$dark-tint2: #3d3d3d;
$dark-tint3: #555;
$dark-text-color: #ccc;
$dark-text-color-dark: #9e9e9e;
$dark-text-color-bright: #fff;
$dark-text-subcolor: #777;
$dark-text-divcolor: #444;
$dark-text-disablecolor: #666;
$dark-dc-color: #4987f7;
$dark-dc-color-deep: #113475;
$dark-highlight: #176ef1d5;
$dark-red: #e21919;

html.darkmode {
    .refresher-comment svg {
        filter: invert(1);
    }

    .refresher-frame,
    .refresher-mini-preview {
        background-color: $dark-tint-light;
        color: $dark-text-color-bright;
        border: 1px solid #505050;

        &.blur {
            background-color: $dark-tint-light-opacity;
        }

        & .read-more {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 30px 0;
            background-image: linear-gradient(transparent 0%, black 80%);
        }
    }

    .refresher-tooltip {
        background-color: $dark-tint-light;
        color: $dark-text-color-bright;
        border: 1px solid #505050;

        &.blur {
            background-color: $dark-tint-light-opacity;
        }
    }

    .refresher-frame-outer {
        &.background {
            background-color: rgba(82, 82, 82, 0.6);
        }
    }

    .refresher-management-panel {
        background: $dark-tint-light-opacity;
        border: 1px solid #505050;

        &.blur {
            backdrop-filter: blur(5px) saturate(150%);
            background-color: $dark-tint-light-opacity;
        }

        .button {
            p {
                color: $dark-text-color;
            }

            &:hover {
                background: rgba(110, 110, 110, 0.5);
            }
        }

        img {
            filter: invert(1);
        }
    }

    .refresher-block-popup,
    .refresher-captcha-popup,
    .refresher-dccon-popup {
        background-color: $dark-tint-light;
        color: white;
        box-shadow: 0 0 16px rgba(51, 51, 51, 0.3);
        border: 1px solid #505050;

        .close {
            .cross {
                background-color: #fff;
            }

            &:hover {
                .cross {
                    background-color: rgb(202, 202, 202);
                }
            }
        }
    }

    .refresher-frame.preview .refresher-preview-contents {
        embed,
        img,
        video {
            background-color: #333;
        }
    }

    .refresher-preview-button {
        box-shadow: none;

        &.primary {
            background-color: rgba(0, 110, 255, 0.32);

            &:hover {
                background-color: rgba(0, 110, 255, 0.28);
            }

            &:active {
                background-color: rgba(0, 110, 255, 0.22);
            }
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.08);
            box-shadow: none;
            color: white;

            p {
                filter: invert(0);
            }
        }

        &:active {
            background-color: rgba(255, 255, 255, 0.12);
            box-shadow: none;

            p {
                filter: invert(0);
            }
        }

        p {
            color: $dark-text-color;
        }

        img {
            filter: invert(1);
        }
    }
}

//.refresherDoNotColorVisited {
//    .refresherDark tbody tr td a:visited {
//        color: unset;
//    }
//
//    .list .gall_tit a:visited {
//        color: unset;
//    }
//}