html.refresher-popup
    head
        title DCRefresher Reborn
        meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../refresher.bundle.css")
        script(src=RefresherDevMode ? "../vue.js" : "../vue.min.js")
        script(src=RefresherDevMode ? "../browser-polyfill.js" : "../browser-polyfill.min.js")
        script(src="../option.bundle.js")
        style.
            html, body {
                height: 435px;
                width: 715px;
            }
    body.refresher-popup
        div#refresher-app
            div.refresher-add-block-popup
            div.refresher-title-zone
                h1 설정
                .float-right
                    p(:class="{active: tab === 0}" v-on:click="() => tab = 0") 일반
                    p(:class="{active: tab === 1}" v-on:click="() => tab = 1") 고급
                    p(:class="{active: tab === 2}" v-on:click="() => tab = 2") 차단
                    p(:class="{active: tab === 3}" v-on:click="() => tab = 3") 메모
                    p(:class="{active: tab === 4}" v-on:click="() => tab = 4") 모듈
                    p(:class="{active: tab === 5}" v-on:click="() => tab = 5") 단축키
            transition-group(name="refresher-slide-left" mode="in-out")
                div.tab.tab1(v-show="tab === 0" key="tab1")
                    .info
                        .icon-wrap
                            img(class="icon" data-image="icon")
                            img(class="icon-backdrop" data-image="icon")
                        .text
                            h3 DCRefresher Reborn
                            p <span class="version">v#{RefresherVersion}#{RefresherDevMode ? ' (dev mode)' : ''}</span>  <a v-for="(link, i) in links" v-on:click="open(link.url)">{{link.text}}</a>
                    .settings
                        div(v-if="!Object.keys(settings).length")
                            h3.need-refresh 우선 디시 페이지를 열고 설정 해주세요.
                        div(v-else class="refresher-setting-category" v-for="(module, i) in Object.keys(settings)")
                            h3(v-on:click="moveToModuleTab(module)") {{module}} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                            div.refresher-setting(v-for="(setting, i) in Object.keys(settings[module])" v-if="!settings[module][setting].advanced" :data-changed="settings[module][setting].value != settings[module][setting].default")
                                .info
                                    h4 {{settings[module][setting].name}}
                                    p {{settings[module][setting].desc}}
                                    p.mute (기본 값 : {{typeWrap(settings[module][setting].default)}})
                                .control
                                    refresher-checkbox(v-if="settings[module][setting].type === 'check'" :checked="settings[module][setting].value" :change="updateUserSetting" :modname="module" :id="setting")
                                    refresher-input(v-if="settings[module][setting].type === 'text'" :placeholder="settings[module][setting].default" :value="settings[module][setting].value" :id="setting" :modname="module" :change="updateUserSetting")
                                    refresher-range(v-if="settings[module][setting].type === 'range'" :placeholder="settings[module][setting].default" :value="Number(settings[module][setting].value)" :id="setting" :modname="module" :change="updateUserSetting" :min="settings[module][setting].min" :max="settings[module][setting].max" :step="settings[module][setting].step" :unit="settings[module][setting].unit")
                                    refresher-options(v-if="settings[module][setting].type === 'option'" :options="settings[module][setting].items" :change="updateUserSetting" :modname="module")
                                    refresher-dccon(v-if="settings[module][setting].type === 'dccon'" :placeholder="settings[module][setting].default" :value="settings[module][setting].value" :id="setting" :modname="module" :change="updateUserSetting")
                                    refresher-file(v-if="settings[module][setting].type === 'file'" :value="settings[module][setting].value" :id="setting" :modname="module" :change="updateUserSetting")

                div.tab.tab2(v-show="tab === 1" key="tab2")
                    div(v-if="!Object.keys(settings).length")
                        h3.need-refresh 우선 디시 페이지를 열고 설정 해주세요.
                    div(v-for="(module, i) in Object.keys(settings)" v-if="settings[module] && advancedSettingsCount(settings[module])" class="refresher-setting-category")
                        h3(v-on:click="moveToModuleTab(module)") {{module}} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                        div.refresher-setting(v-for="(setting, i) in Object.keys(settings[module])" v-if="settings[module][setting].advanced" :data-changed="settings[module][setting].value != settings[module][setting].default")
                            .info
                                h4 {{settings[module][setting].name}}
                                p {{settings[module][setting].desc}}
                                p.mute (기본 값 : {{typeWrap(settings[module][setting].default)}})
                            .control
                                refresher-checkbox(v-if="settings[module][setting].type === 'check'" :checked="settings[module][setting].value" :change="updateUserSetting" :modname="module" :id="setting")
                                refresher-input(v-if="settings[module][setting].type === 'text'" :placeholder="settings[module][setting].default" :value="settings[module][setting].value" :id="setting" :modname="module" :change="updateUserSetting")
                                refresher-range(v-if="settings[module][setting].type === 'range'" :placeholder="settings[module][setting].default" :value="Number(settings[module][setting].value)" :id="setting" :modname="module" :change="updateUserSetting" :min="settings[module][setting].min" :max="settings[module][setting].max" :step="settings[module][setting].step" :unit="settings[module][setting].unit")

                div.tab.tab3(v-show="tab === 2" key="tab3")
                    .block-divide(v-for="(key, index) in Object.keys(blocks)")
                        h3 {{blockKeyNames[key]}} <span class="plus" v-on:click="() => addEmptyBlockedUser(key)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg></span>
                        .lists
                            p(v-if="!blocks[key].length") 차단된 {{blockKeyNames[key]}} 없음
                            refresher-bubble(v-if="key !== 'DCCON'" v-for="(blocked, i) in blocks[key]" :key="'block:' + i" :text="blocked.content" :regex="blocked.isRegex" :gallery="blocked.gallery" :extra="blocked.extra" :remove="() => removeBlockedUser(key, i)" :textclick="() => editBlockedUser(key, i)")
                            refresher-bubble(v-else v-for="(blocked, i) in blocks[key]" :key="'block:' + i" :image="'https://dcimg5.dcinside.com/dccon.php?no='+blocked.content.split('||')[2]" :regex="blocked.isRegex" :gallery="blocked.gallery" :extra="blocked.extra" :remove="() => removeBlockedUser(key, i)" :textclick="() => editBlockedUser(key, i)")

                div.tab.tab4(v-show="tab === 3" key="tab4")
                    p(v-if="!Object.keys(memos).length") 메모가 없습니다.
                    .block-divide(v-for="[key, value] in Object.entries(memos)")
                        .list
                            refresher-bubble(:text="key" :remove="() => removeMemoUser(key)" :textclick="() => editMemoUser(key)")

                div.tab.tab5(v-show="tab === 4" key="tab5")
                    div.refresher-no-modules(v-if="!Object.keys(modules).length")
                        h3 로드된 모듈 없음
                        p 우선 디시 페이지를 열어주세요.
                    div(v-else)
                        refresher-module(v-for="(module, i) in modules" :key="module.name" :name="module.name" :desc="module.description" :enabled="module.enable" :author="module.author" :require="module.require")

                div.tab.tab6(v-show="tab === 5" key="tab6")
                    .shortcut-lists
                        .refresher-shortcut(v-for="(shortcut, i) in shortcuts" v-if="shortcut.description.length")
                            p.description {{shortcut.description}}
                            .key
                                refresher-bubble(v-for="key in shortcut.shortcut.match(shortcutRegex)" :text="key")
                                refresher-bubble(v-if="!shortcutRegex.test(shortcut.shortcut)" text="키 없음")
                    p <a v-on:click="openShortcutSettings">단축키 설정</a>
