html.refresher-popup
    head
        title DCRefresher Reborn
        meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../refresher.bundle.css")
        script(src="../option.bundle.js")
    body.refresher-popup
        input(type="hidden" id="RefresherVersion" value=`${RefresherVersion}`)
        input(type="hidden" id="RefresherDevMode" value=`${RefresherDevMode}`)
        div#app