@use "@/assets/styles/components/popup" as *;

.refresher-block-popup {
    @include popup-shell;

    height: 320px;
    left: calc(120px);
    top: calc(50% - 160px);
    width: 420px;

    .contents {
        margin-top: 30px;

        & > div {
            margin-bottom: 20px;
        }
    }
}

html:has(#css-darkmode) .refresher-block-popup {
    border: 1px solid var(--refresher-border);
    color: white;
}
