@use "@/assets/styles/components/popup" as *;

.refresher-captcha-popup {
    @include popup-shell;

    height: 150px;
    left: calc(50% - 160px);
    top: calc(50% - 75px);
    width: 320px;

    .refresher-preview-button {
        bottom: 5%;
        position: absolute;
        right: 0;
    }

    .refresher-vote-text {
        margin: auto;
    }
}

html:has(#css-darkmode) .refresher-captcha-popup {
    border: 1px solid var(--refresher-border);
    color: white;
}
