@use "@/assets/styles/tokens" as *;

.refresher-preview-button {
    background-color: transparent;
    border-radius: 15px;
    display: flex;
    margin-right: 15px;

    transition: all 0.25s $ease-out-expo;
    user-select: none;


    &.primary,
    &.sub {
        backdrop-filter: blur(10px) saturate(180%);

        p {
            color: rgba(255, 255, 255, 0.87);
            filter: saturate(130%);
            font-weight: 500;
        }

        * {
            filter: invert(1);
        }
    }

    &.primary {
        background-color: rgba(0, 110, 255, 0.8);
    }

    &.sub {
        background-color: rgba(106, 122, 143, 0.8);
    }

    &.refresher-writecomment img {
        background-color: transparent !important;
    }

    &:hover {
        backdrop-filter: blur(10px) saturate(200%);
        background-color: rgba(0, 110, 255, 0.7);

        box-shadow: $shadow-2dp;

        cursor: pointer;

        *:not(img) {
            filter: invert(1);
        }
    }

    &:active {
        backdrop-filter: blur(10px) saturate(220%);
        background-color: rgba(0, 110, 255, 0.6);
        box-shadow: $shadow-1dp;

        * {
            filter: invert(1);
        }
    }

    &:has(> p) {
        height: 38px;
        width: 120px;

        img,
        .refresher-preview-icon {
            margin: auto 0 auto auto;
        }
    }

    img {
        height: 30px;
        margin-top: 5px;
        width: 30px;
    }

    .refresher-preview-icon {
        height: 24px;
        margin: auto;
        width: 24px;
    }

    p {
        color: #000;
        font-size: 16px;
        font-weight: lighter;

        letter-spacing: -1px;
        margin: auto auto auto 0;
    }
}

// Dark mode support
html:has(#css-darkmode) {
    .refresher-preview-button {
        box-shadow: none;

        &.primary {
            background-color: rgba(0, 110, 255, 0.32);

            &:hover {
                background-color: rgba(0, 110, 255, 0.28);
            }

            &:active {
                background-color: rgba(0, 110, 255, 0.22);
            }
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.08);
            box-shadow: none;
            color: $dark-text-color-bright;

            p {
                filter: invert(0);
            }
        }

        &:active {
            background-color: rgba(255, 255, 255, 0.12);
            box-shadow: none;

            p {
                filter: invert(0);
            }
        }

        p {
            color: $dark-text-color;
        }

        img {
            filter: invert(1);
        }

        .refresher-preview-icon {
            color: $dark-text-color-bright;
        }
    }
}
