@use "@/assets/styles/tokens" as *;

.refresher-user {
    max-width: calc(100% - 170px);

    .refresher-user-content {
        display: flex;
        padding: 2px 4px;
        width: 100%;
    }

    &.cursor {
        cursor: pointer;
    }

    &[data-me=true] {
        background-color: var(--refresher-user-me-bg);
        border-radius: 5px;
        color: white;
    }

    .refresher-user-icon,
    .refresher-user-nick,
    .refresher-user-info,
    .refresher-user-memo {
        margin-bottom: auto;
        margin-top: auto;
    }

    .refresher-user-icon,
    .refresher-user-nick {
        margin-right: 5px;
        white-space: nowrap;
    }

    .refresher-user-icon {
        background-color: var(--refresher-accent-gray);
        border-radius: 50%;
        box-shadow: $shadow-3dp;
        display: block;
        height: 9px;
        width: 9px;

        &[data-type="UNFIXED"] {
            background-color: rgb(241, 241, 241);
        }

        &[data-type="HALF_FIXED"] {
            background-color: var(--refresher-accent-gray);
        }

        &[data-type="FIXED"] {
            background-color: var(--refresher-accent-yellow);
        }

        &[data-type="HALF_FIXED_SUB_MANAGER"],
        &[data-type="FIXED_SUB_MANAGER"] {
            background-color: var(--refresher-accent-blue);
        }

        &[data-type="HALF_FIXED_MANAGER"],
        &[data-type="FIXED_MANAGER"] {
            background-color: var(--refresher-accent-orange);
        }
    }

    .refresher-user-nick {
        font-size: 14px;
        font-weight: bold;
    }

    .refresher-user-info {
        font-size: 12px;
        max-width: 100%;
        opacity: 0.4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }

    .refresher-user-memo {
        font-size: 12px;
        margin-right: 5px;
    }
}
