.refresher-opacity-enter-active {
    transition: all 450ms cubic-bezier(0.19, 1, 0.22, 1);
}

.refresher-opacity-leave-active {
    display: none;
}

.refresher-opacity-enter-from,
.refresher-opacity-leave-to {
    opacity: 0;
    position: absolute;
}

.refresher-opacity-enter-to {
    opacity: 1;
}

.refresher-slide-up-enter-active {
    transition: all 450ms cubic-bezier(0.19, 1, 0.22, 1);
}

.refresher-slide-up-leave-active {
    display: none;
}

.refresher-slide-up-enter-from,
.refresher-slide-up-leave-to {
    opacity: 0;
    position: absolute;
    transform: translateY(10px);
}

.refresher-slide-up-enter-to {
    opacity: 1;
    transform: translateY(0px);
}

.refresher-next-post-enter-active,
.refresher-next-post-leave-active,
.refresher-prev-post-enter-active,
.refresher-prev-post-leave-active {
    transition: all 450ms cubic-bezier(0.19, 1, 0.22, 1);
}

.refresher-next-post-enter-from,
.refresher-next-post-leave-to {
    opacity: 0;
    transform: translateY(40%);
}

.refresher-next-post-enter-to {
    opacity: 1;
    transform: translateY(0px);
}

.refresher-prev-post-enter-from,
.refresher-prev-post-leave-to {
    opacity: 0;
    transform: translateY(-40%);
}

.refresher-prev-post-enter-to {
    opacity: 1;
    transform: translateY(0px);
}

.refresher-shake-enter-active {
    animation: shake 0.32s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    backface-visibility: hidden;
    perspective: 1000px;
    transform: translate3d(0, 0, 0);
    transition: all 450ms cubic-bezier(0.19, 1, 0.22, 1);
}

.refresher-shake-leave-active {
    display: none;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}