@use "variables" as *;
@use "sass:color";

html:has(#css-darkmode) {
    .refresher-preview-contents-actual {
        .og-wrap, .og-img {
            filter: invert(1) !important;
        }
    }

    // dc_series

    .write_div > :not(.dc_series) > .lnk {
        background-color: color.invert(#252525);
        color: color.invert($dark-highlight) !important;
    }

    .refresher-comment svg {
        filter: invert(1);
    }

    .refresher-frame,
    .refresher-mini-preview {
        background-color: $dark-tint-light-rgb;
        border: 1px solid #505050;
        color: $dark-text-color-bright;

        &.blur {
            background-color: $dark-tint-light-opacity;
        }

        & .read-more {
            background-image: linear-gradient(transparent 0%, black 80%);
            bottom: 0;
            left: 0;
            margin: 0;
            padding: 30px 0;
            position: absolute;
            text-align: center;
            width: 100%;
        }
    }

    .refresher-tooltip {
        background-color: $dark-tint-light-rgb;
        border: 1px solid #505050;
        color: $dark-text-color-bright;

        &.blur {
            background-color: $dark-tint-light-opacity;
        }
    }

    .refresher-frame-outer {
        &.background {
            background-color: rgba(82, 82, 82, 0.6);
        }
    }

    .refresher-management-panel {
        background: $dark-tint-light-opacity;
        border: 1px solid #505050;

        &.blur {
            backdrop-filter: blur(5px) saturate(150%);
            background-color: $dark-tint-light-opacity;
        }

        .button {
            p {
                color: $dark-text-color;
            }

            &:hover {
                background: rgba(110, 110, 110, 0.5);
            }
        }

        img {
            filter: invert(1);
        }
    }

    .refresher-block-popup,
    .refresher-captcha-popup {
        background-color: $dark-tint-light-rgb;
        border: 1px solid #505050;
        box-shadow: 0 0 16px rgba(51, 51, 51, 0.3);
        color: white;

        .close {
            .cross {
                background-color: #fff;
            }

            &:hover {
                .cross {
                    background-color: rgb(202, 202, 202);
                }
            }
        }
    }

    .refresher-frame.preview .refresher-preview-contents {
        embed,
        img,
        video {
            background-color: #333;
        }
    }
}